* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: scroll;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: relative;
}

main {
    position: relative;
    top: 0px;
}

main h1 {
    font-size: 2em;
}

header {
    z-index: 10;
    width: 100%;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    float: right;
}

header li a{
    display: block;
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#website-name {
    float: left;
    font-weight: bold;
    font-size: 3rem;
}

#website-name a {
    color: black; 
}

.content p{
    font-size: 1em;
}

.introduction-content, .font, .color, .text{
    margin-top: 25px;
    margin-left: 20px;
    width: 60%;
}

.font-container, .text-container {
    background-color:hsl(0, 0%, 95%);
}

.introduction-content, .font-container, .color-container, .text-container {
    padding: 0px 5px;
    margin-top: 2px;
    height: 300px;
}

.introduction-content p{
    color: grey;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#cool-blue-circle {
    background-color: #2d5dcc;
}

#pink-circle {
    background-color: #d957d9;
}

#mint-green-circle {
    background-color:#4fe0b0;
}

footer {
    width: 100%;
    padding: 30px;
    background-color:hsl(257, 27%, 26%);
    color: white;
}